.modal {
    display: block;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  h2{
    color: black;
    font-weight: 800;
    font-size: 3em;
  }
  .modal-content {
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
  }
  
  .close {
    color: orange;
    float: right;
    font-size: 2em;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: orange;
    text-decoration: none;
    cursor: pointer;
  }